@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-weight: 600 !important;
    color: #362f52;
}

h2, h3, h4 {
    color: #fe5b74;
}

nav {
    height: 100px;
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

body > section {
    flex: 1;
    margin-top: 3rem;
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

footer {
    font-size: small;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
}

ul {
    margin-top: 1rem !important;
}

#homePhrase {
    font-size: 100px;
    color: #362f52;
}

.nav-item {
    margin-right: 1.5rem;
}

.elements-nav {
    margin-right: 15rem;
} 

.navbar-nav {
    font-weight: 600 !important;
}

.home-left {
    width: 50%;
}

.special-word {
    color: #fe5b74;
}

.test-link {
    font-weight: 800;
    text-decoration: none !important;
    color: #fe5b74 !important;
    transition: 0.3s;
}

.test-link:hover {
    color:#362f52 !important;
}

.dogForm {
    margin: auto;
    width: 50%;
}

.dogForm > article {
    margin-bottom: 2rem;
}

.dogForm > article input[type="range"]::before {
    content:"Pas du tout";
    color:#fe5b74;
    margin-right: 1rem;
    font-size: smaller;
}
.dogForm > article input[type="range"]::after {
    content:"Absolument";
    color:#00d1b2;
    margin-left: 1rem;
    font-size: smaller;
}
.captionRange {
    display: flex;
}

.dogTest {
    font-size: smaller;
}