{{> header}}
<section>
    <h1>Page d'administration</h1>
    <h2>Gérer les races de chien disponibles</h2>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDogModal">
        Ajouter un nouveau chien
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addDogModal" tabindex="-1" aria-labelledby="addDogModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" action="/addDog" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDogModalLabel">Ajouter une race de chien</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="text" name="breed" class="form-control" placeholder="Nom de la race"
                            aria-label="Nom de la race">
                        <p><small>Veuillez insérer des valeurs entre 0 et 4.</small></p>
                        <label for="playful">Joueur :</label>
                        <input type="number" id="playful" name="playful" min="0" max="4" value="0">
                        <label for="obedient">Obéissant :</label>
                        <input type="number" id="obedient" name="obedient" min="0" max="4" value="0">
                        <label for="clean">Propre :</label>
                        <input type="number" id="clean" name="clean" min="0" max="4" value="0">
                        <label for="calm">Calme :</label>
                        <input type="number" id="calm" name="calm" min="0" max="4" value="0">
                        <label for="smart">Intelligent :</label>
                        <input type="number" id="smart" name="smart" min="0" max="4" value="0">
                        <label for="kind">Gentil :</label>
                        <input type="number" id="kind" name="kind" min="0" max="4" value="0">
                        <label for="durable">Résistant :</label>
                        <input type="number" id="durable" name="durable" min="0" max="4" value="0">
                        <label for="athletic">Sportif :</label>
                        <input type="number" id="athletic" name="athletic" min="0" max="4" value="0">
                        <label for="lonely">Ne supporte pas la solitude :</label>
                        <input type="number" id="lonely" name="lonely" min="0" max="4" value="0">
                        <label for="budget">Coûteux :</label>
                        <input type="number" id="budget" name="budget" min="0" max="4" value="0">
                        <label for="fur">Perd les poils :</label>
                        <input type="number" id="fur" name="fur" min="0" max="4" value="0">
                        <label for="apartment">Peut vivre en appartement :</label>
                        <input type="number" id="apartment" name="apartment" min="0" max="4" value="0">
                        <input type="text" name="description" class="form-control" placeholder="Description"
                        aria-label="Description">
                        <input type="text" name="image" class="form-control" placeholder="Lien vers une photo de chiot"
                        aria-label="Lien vers une photo de chiot">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Ajouter cette race de chien</button>
                </div>
            </form>
        </div>
    </div>
    <ul>
        {{#dogs}}
        <li>{{breed}} <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#deleteBreedModal-{{{id}}}">Supprimer</button>

            <div class="modal fade" id="deleteBreedModal-{{{id}}}" tabindex="-1" aria-labelledby="deleteBreedModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteBreedModalLabel">Supprimer la race de chien</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Retirer cette race de chien du site ? Cette action est irréversible.
                        </div>
                        <form class="modal-footer" action="/deleteDog/{{{id}}}" method="post">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-danger">Oui</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        {{/dogs}}
    </ul>

</section>
{{> footer}}