{{> header}}
<section>
    <form class="row g-3 w-50" action="/changePassword" method="post">
        <h1>Changer mon mot de passe</h1>
        <div class="row g-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Ancien mot de passe</label>
            <div class="col-sm-10">
                <input type="password" name="oldpw" class="form-control" id="inputPasswordOld">
            </div>
        </div>
        <div class="row g-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
            <div class="col-sm-10">
                <input type="password" name="newpw" class="form-control" id="inputPasswordNew">
            </div>
        </div>

        <button type="submit" class="btn btn-primary col-3 mx-auto">Confirmer</button>
    </form>
    <p class="text-danger">{{error}}</p>
</section>
{{> footer}}