{{> header}}
<section>
    <h1>Bien choisir son chien</h1>
    <p>Répondez à ce questionnaire pour savoir quelle race de chien est plus sensible de vous correspondre !</p>

    <form class="dogForm" action="/searchBestDog" method="post">
        <article>
            <label for="playful" class="form-label">J'aime jouer avec mon chien, lui renvoyer la balle.</label>
            <input name="playful" type="range" class="form-range" min="0" max="4" step="1" id="playful">
            <input class="form-check-input" name="isPlayful" type="checkbox" value="1" id="checkPlayfull">
            <label class="form-check-label dogTest" for="checkPlayfull">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="obedient" class="form-label">J'exige un respect de mes ordres ("pas bouger", "au
                pied"...).</label>
            <input name="obedient" type="range" class="form-range" min="0" max="4" step="1" id="obedient">
            <input class="form-check-input" name="isObedient" type="checkbox" value="1" id="checkObedient">
            <label class="form-check-label dogTest" for="checkObedient">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="clean" class="form-label">La propreté est obligatoire pour mon chien !</label>
            <input name="clean" type="range" class="form-range" min="0" max="4" step="1" id="clean">
            <input class="form-check-input" name="isClean" type="checkbox" value="1" id="checkClean">
            <label class="form-check-label dogTest" for="checkClean">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="calm" class="form-label">Je déteste les animaux hyperactifs.</label>
            <input name="calm" type="range" class="form-range" min="0" max="4" step="1" id="calm">
            <input class="form-check-input" name="isCalm" type="checkbox" value="1" id="checkCalm">
            <label class="form-check-label dogTest" for="checkCalm">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="smart" class="form-label">J'ai besoin qu'il assimile vite les ordres que je lui donne et ses
                droits dans la maison.</label>
            <input name="smart" type="range" class="form-range" min="0" max="4" step="1" id="smart">
            <input class="form-check-input" name="isSmart" type="checkbox" value="1" id="checkSmart">
            <label class="form-check-label dogTest" for="checkSmart">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="kind" class="form-label">J'ai des enfants et/ou je reçois souvent des gens chez moi.</label>
            <input name="kind" type="range" class="form-range" min="0" max="4" step="1" id="kind">
            <input class="form-check-input" name="isKind" type="checkbox" value="1" id="checkKind">
            <label class="form-check-label dogTest" for="checkKind">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>   
            <label for="durable" class="form-label">Je veux un ami fidèle le plus longtemps possible.</label>
            <input name="durable" type="range" class="form-range" min="0" max="4" step="1" id="durable">
            <input class="form-check-input" name="isDurable" type="checkbox" value="1" id="checkDurable">
            <label class="form-check-label dogTest" for="checkDurable">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="athletic" class="form-label">J'ai un grand terrain et/ou je sors régulièrement pour courir
                et je suis sportif.</label>
            <input name="athletic" type="range" class="form-range" min="0" max="4" step="1" id="athletic">
            <input class="form-check-input" name="isAthletic" type="checkbox" value="1" id="checkAthletic">
            <label class="form-check-label dogTest" for="checkAthletic">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="lonely" class="form-label">Je suis très souvent chez moi et je peux toujours être présent
                pour mon chien pour lui donner de l'attention.</label>
            <input name="lonely" type="range" class="form-range" min="0" max="4" step="1" id="lonely">
            <input class="form-check-input" name="isLonely" type="checkbox" value="1" id="checkLonely">
            <label class="form-check-label dogTest" for="checkLonely">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="budget" class="form-label">J'ai un budget très juste / juste / moyen / confortable / très
                confortable à investir pour mon chien.</label>
            <input name="budget" type="range" class="form-range" min="0" max="4" step="1" id="budget">
            <input class="form-check-input" name="isBudget" type="checkbox" value="1" id="checkBudget">
            <label class="form-check-label dogTest" for="checkBudget">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="fur" class="form-label">Je suis maniaque des poils de chien.</label>
            <input name="fur" type="range" class="form-range" min="0" max="4" step="1" id="fur">
            <input class="form-check-input" name="isFur" type="checkbox" value="1" id="checkFur">
            <label class="form-check-label dogTest" for="checkFur">
                Ce critère est important pour moi.
            </label>
        </article>

        <article>
            <label for="apartment" class="form-label">Je vis dans une grande maison.</label>
            <input name="apartment" type="range" class="form-range" min="0" max="4" step="1" id="apartment">
            <input class="form-check-input" name="isApartment" type="checkbox" value="1" id="checkApartment">
            <label class="form-check-label dogTest" for="checkApartment">
                Ce critère est important pour moi.
            </label>
        </article>

        <button type="submit" class="btn btn-primary col-3 mx-auto">Donnez moi un chien !</button>
    </form>
</section>
{{> footer}}