{{> header}}
<section>
    <h1>Les élevages</h1>
    {{^isBreeder}}
    <p>Pour renseigner votre élevage, inscrivez vous en tant qu'éleveur.</p>
    {{/isBreeder}}

    {{#isBreeder}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFarmModal">
        Ajouter mon élevage
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addFarmModal" tabindex="-1" aria-labelledby="addFarmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" action="/addFarm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFarmModalLabel">Ajouter votre élevage</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="name" class="form-control" placeholder="Nom de l'élevage" aria-label="Nom de l'élevage">
                            </div>
                            <div class="col">
                                <input type="text" name="place" class="form-control" placeholder="Adresse" aria-label="Adresse">
                            </div>
                        </div>
                        
                        <select class="form-select" aria-label="breed selection" name="DogId">
                            {{#dogs}}
                            <option value="{{{id}}}">{{breed}}</option>
                            {{/dogs}}
                        </select>
                        <p></p>
                        <p class="fw-light fst-italic"><small>Si la race de chien de votre élevage n'est pas disponible, merci de contacter un administrateur.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Réferencer mon élevage</button>
                </div>
            </form>
        </div>
    </div>
    {{/isBreeder}}

    <ul>
    {{#farms}}
    <li>{{name}}, {{place}} appartient à {{#authenticated}}<a href="mailto:{{{user.mail}}}">{{/authenticated}}{{user.pseudo}}{{#authenticated}}</a>{{/authenticated}} ({{dog}}).
        {{#isMine}}
        <a href="" class="fw-light fst-italic" data-bs-toggle="modal" data-bs-target="#updateFarmModal-{{{id}}}">Modifier</a> 
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteFarmModal-{{{id}}}">
            Supprimer
        </button>
        <!-- Modals -->
        <div class="modal fade" id="updateFarmModal-{{{id}}}" tabindex="-1" aria-labelledby="updateFarmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" action="/updateFarm/{{{id}}}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateFarmModalLabel">Ajouter votre élevage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="name" class="form-control" placeholder="Nom de l'élevage" aria-label="Nom de l'élevage" value="{{{name}}}">
                                </div>
                                <div class="col">
                                    <input type="text" name="place" class="form-control" placeholder="Adresse" aria-label="Adresse" value="{{{place}}}">
                                </div>
                            </div>
                            
                            <select class="form-select" aria-label="breed selection" name="DogId" disabled>
                                <option value="{{{DogId}}}">{{dog}}</option>
                            </select>
                            <p></p>
                            <p class="fw-light fst-italic"><small>Si la race de chien de votre élevage n'est pas disponible, merci de contacter un administrateur.</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Réferencer mon élevage</button>
                    </div>
                </form>
            </div>
        </div>
        <!----->
        <div class="modal fade" id="deleteFarmModal-{{{id}}}" tabindex="-1" aria-labelledby="deleteFarmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteFarmModalLabel">Supprimer mon élevage</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Retirer l'élevage de la liste ?
                    </div>
                    <form class="modal-footer" action="/deleteFarm/{{{id}}}" method="post">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </form>
                </div>
            </div>
        </div>
        {{/isMine}}
    </li>
    {{/farms}}
    </ul>
</section>
{{> footer}}