{{> header}}
<section>
    <h1>Le {{dog.breed}}</h1>
    <p><img src="{{dog.image}}" alt="{{dog.breed}}" height="600px"></p>
    <p>{{dog.description}} <small>Source : <a href="https://www.woopets.fr/">woopets.fr</a></small></p>

    <p>Il existe {{farms.length}} élevage{{#moreThanOne}}s{{/moreThanOne}} pour {{dog.breed}} répertorié{{#moreThanOne}}s{{/moreThanOne}} sur ce site.</p>
    <ul class="elevages">
        {{#farms}}
        <li>{{name}}, {{place}} appartient à <a href="mailto:{{{user.mail}}}">{{user.pseudo}}</a>.</li>
        {{/farms}}
    </ul>
    <p>Vous êtes éleveur de {{dog.breed}} ? Inscrivez-vous et ajouter votre élevage sur la page associée pour être référencé.</p>
</section>
{{> footer}}