<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Trouve ton doggo</title>
    <link rel="shortcut icon" href="favicon.ico">    
    <meta name="X-XSS-Protection" value="1; mode=block" >
    <meta name="X-Content-Type-Options" value="nosniff " >
    
    <meta http-equiv="Content-Security-Policy" content="default-src * gap:; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src *; img-src * data: blob: android-webview-video-poster:; style-src * 'unsafe-inline';">

                   
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JS Bootstrap -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
    
    </head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">Quel chien choisir ?</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mb-lg-0">
                    <div class="d-flex elements-nav">
                        <li class="nav-item">
                            <a class='nav-link {{#home}} active {{/home}}' aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link {{#test}} active {{/test}}' href="/test">Le test</a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link {{#elevages}} active {{/elevages}}' href="/elevages">Élevages</a>
                        </li>

                        {{#authenticated}}
                        <li class="nav-item">
                            <a class='nav-link {{#profil}} active {{/profil}}' href="/profil">Profil</a>
                        </li>
                        {{/authenticated}}
                        {{#isAdmin}}
                        <li class="nav-item">
                            <a class='nav-link {{#admin}} active {{/admin}}' href="/admin">Administration</a>
                        </li>
                        {{/isAdmin}}
                    </div>
                    <div class="d-flex" id="userAction">
                        {{^authenticated}}
                        <a role="button" class="btn" href="/connexion">Se connecter</a>
                        <a role="button" class="btn" href="/inscription">S'inscrire</a>
                        {{/authenticated}}
                        {{#authenticated}}
                        <a role="button" class="btn" href="/logout">Se déconnecter</a>
                        {{/authenticated}}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>