{{> header}}
<section class="home-left">
    <h5>Bienvenue {{user.pseudo}}</h5>
    <h1 id="homePhrase">Trouvez la race de <span class="special-word">chien</span> idéale !</h1>
    <p>
        Quand on souhaite adopter un chien, il faut être conscient de ses besoins.
        Trouvez le type de chien qui vous correspond le mieux en passant ce test !
    </p>
    <a class="test-link" href="/test">Passer le test</a>
</section>
{{> footer}}