{{> header}}
<section>
    <form class="row g-3 w-50" action="/login" method="post">
        <h1>Se connecter</h1>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" name="mail" class="form-control" id="mail">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
              <input type="password" name="pw" class="form-control" id="inputPassword">
            </div>
          </div>

        <button type="submit" class="btn btn-primary col-3 mx-auto">Se connecter</button>
    </form>
    <p class="text-danger">{{error}}</p>
</section>
{{> footer}}