{{> header}}
<section>
    <h1>Profil de {{user.pseudo}}</h1>
    <p>Mail : {{user.mail}}</p>

    <p><a href="/changePassword" class="fw-light fst-italic">Changer de mot de passe</a></p>

    
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Supprimer mon compte
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Suppression du compte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez vous vraiment supprimer votre compte ? Cette action est irréversible.
                </div>
                <form class="modal-footer" action="/deleteUser" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-danger">Oui</button>
                </form>
            </div>
        </div>
    </div>

</section>
{{> footer}}