{{> header}}
<section>
    <form class="row g-3 w-50" action="/register" method="post">
        <h1>S'inscrire</h1>
        <div class="row">
            <div class="col">
                <input type="text" name="mail" class="form-control" placeholder="Mail" aria-label="Mail">
            </div>
            <div class="col">
                <input type="text" name="pseudo" class="form-control" placeholder="Nom" aria-label="Nom">
            </div>
        </div>

        <div class="row g-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" name="pw" class="form-control" id="inputPassword">
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" name="isBreeding" type="checkbox" value="1" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Je suis un éleveur de chien
            </label>
        </div>

        <small>Si vous êtes éleveur, votre adresse e-mail est susceptible d'être partagée aux utilisateurs connectés sur le site.</small>

        <button type="submit" class="btn btn-primary col-3 mx-auto">S'inscrire</button>
    </form>
    <p class="text-danger">{{error}}</p>
</section>
{{> footer}}