{{> header}}
<section>
    <h1>Résultat</h1>
    <p><img src="{{dog.image}}" alt="{{dog.breed}}" height="600px"></p>
    <p>Le meilleur chien pour vous est le {{dog.breed}} avec un score de <b>{{dog.percentage}}%</b>.</p>
    <p>{{dog.description}} <small>Source : <a href="https://www.woopets.fr/">woopets.fr</a></small></p>
    <p>Peut être que vous aimeriez aussi :</p>
    <ol>
    {{#othersDogs}}
        <li>Le <a href="/chien?id={{{id}}}">{{breed}}</a> avec {{percentage}}% de compatibilité.</li>
    {{/othersDogs}}
    </ol>


    <p>Il existe {{farms.length}} élevage{{#moreThanOne}}s{{/moreThanOne}} pour {{dog.breed}} répertorié{{#moreThanOne}}s{{/moreThanOne}} sur ce site.</p>
    <ul class="elevages">
        {{#farms}}
        <li>{{name}}, {{place}} appartient à {{#authenticated}}<a href="mailto:{{{user.mail}}}">{{/authenticated}}{{user.pseudo}}{{#authenticated}}</a>{{/authenticated}}.</li>
        {{/farms}}
    </ul>
    <p>Vous êtes éleveur de {{dog.breed}} ? Inscrivez-vous et ajouter votre élevage sur la page associée pour être référencé.</p>
</section>
{{> footer}}